/* ------- Menu ------- */
$breakpoint-adaptive: tab;

.menu {
    &__list {
        display: grid;
        grid-auto-flow: column;
        gap: 1rem;
        justify-content: flex-start;
        list-style: none;
        margin: 0;
        padding: 0;

        @include media($breakpoint-adaptive) {
            grid-auto-flow: row;
            grid-template-columns: minmax(0, 1fr);
        }
    }

    &__link {
        position: relative;
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 0 1.5rem;
        height: 5rem;
        text-decoration: none;
        text-align: center;
        color: var(--color-white, #fff);
        background: var(--color-black, #000);
        transition-property: background, color, border-color;

        @include media($breakpoint-adaptive) {
            display: block;
            height: auto;
            text-align: left;
            padding: 1rem 2rem;
            color: var(--color-base, #000);
            background: none;
        }

        @include hover {
            background: grey;
        }
    }

    &__backdrop {
        display: none;

        @include media($breakpoint-adaptive) {
            position: fixed;
            z-index: 100;
            left: 0;
            right: 0;
            top: 0;
            height: calc(var(--vh, 1vh) * 100);
            display: block;
            background: var(--color-backdrop, rgba(0, 0, 0, 0.7));
            opacity: 0;
            transition: var(--duration, 0.3s) opacity;
            pointer-events: none;
            will-change: opacity;

            @include active {
                opacity: 1;
                pointer-events: auto;
            }
        }
    }

    &__container {
        @include media($breakpoint-adaptive) {
            position: relative;
            padding: 5rem 0;
            overflow: hidden;
            overflow-y: auto;
            height: 100%;
            pointer-events: auto;
            background: var(--color-white, #fff);
        }
    }

    &__popup {
        @include media($breakpoint-adaptive) {
            position: fixed;
            z-index: 200;
            top: 0;
            left: 0;
            height: calc(var(--vh, 1vh) * 100);
            display: none;
            width: 100%;
            max-width: 100%;
            overflow: hidden;
            transform: translate(100%, 0);
            transition: var(--duration, 0.3s) transform, var(--duration, 0.3s) opacity;
            opacity: 0;
            will-change: transform, opacity;

            @include active {
                transform: translate(0, 0);
                opacity: 1;
            }

            @include visible {
                display: block;
            }
        }
    }

    &__burger {
        $burger-width: 5rem;
        $burger-height: 5rem;
        $burger-line-width: 3rem;
        $burger-line-height: 2px;
        $burger-line-offset: 6px;

        position: relative;
        display: none;
        width: $burger-width;
        height: $burger-height;
        background: var(--color-black, #000);

        span {
            position: absolute;
            top: 50%;
            margin-left: calc($burger-line-width * (-0.5));
            margin-top: calc($burger-line-height * (-0.5));
            width: $burger-line-width;
            height: $burger-line-height;
            background: var(--color-white, #fff);
            transition: var(--duration, 0.3s) transform;
            will-change: transform, opacity;

            &:first-child {
                transform: translateY(($burger-line-offset + $burger-line-height) * (-1));
            }

            &:last-child {
                transform: translateY($burger-line-offset + $burger-line-height);
            }

            &:nth-child(2) {
                transition-property: opacity;
            }
        }

        @include active() {
            span {
                &:first-child {
                    transform: rotate(45deg);
                }

                &:last-child {
                    transform: rotate(-45deg);
                }

                &:nth-child(2) {
                    opacity: 0;
                }

            }
        }

        @include media($breakpoint-adaptive) {
            display: block;
        }
    }

    &__close {
        display: none;
        position: absolute;
        top: 0;
        right: 0;
        width: 5rem;
        height: 5rem;

        &::before,
        &::after {
            content: "";
            position: absolute;
            top: 50%;
            left: 50%;
            height: 2px;
            width: 2.6rem;
            margin-top: -1px;
            margin-left: -1.3rem;
            background: var(--color-base, #000);
            transform: rotate(45deg);
            will-change: transform;
        }

        &::after {
            transform: rotate(-45deg);
        }

        span {
            display: none;
        }

        @include media($breakpoint-adaptive) {
            display: block;
        }
    }
}

.is-menu-active {
    @include media($breakpoint-adaptive) {
        padding-right: var(--menu-scrollbar-compensate);
        overflow: hidden;
        touch-action: none;
    }
}
