<div class="tabs js-tabs">
	<div class="tabs__menu tabs-menu js-tabs-menu">
		<button type="button" class="tabs-menu__item is-active" data-tabs-id="tab_1"><span>Вкладка 1</span></button>
		<button type="button" class="tabs-menu__item" data-tabs-id="tab_2"><span>Вкладка 2</span></button>
	</div>
	<div class="tabs__content">
		<div class="tabs__pane js-tabs-pane is-active" data-tabs-pane="tab_1">Содержимое_вкладки_1</div>
		<div class="tabs__pane js-tabs-pane" data-tabs-pane="tab_2">Содержимое_вкладки_2</div>
	</div>
</div>
