/* ------- UI - Input ------- */
input {
	&::-ms-clear {
		display: none;
	}
}

.ui-input,
.ui-textarea {
	appearance: none;
	display: block;
	box-shadow: none;
	border: 1px solid $input-border;
	border-radius: 0;
	outline: none;
	padding: 0 1.5rem;
	width: 100%;
	height: $input-height;
	font-family: $font-primary;
	font-size: $font-size-normal;
	text-align: left;
	color: $base-color;
	background: $white;
	transition: $duration background-color, $duration color, $duration border-color, $duration box-shadow;

	&::placeholder {
	  color: $placeholder;
	  transition: $duration color;
	}

	&:focus {
		border-color: $base-color;
	}

	@include disabled {
		color: $disabled-color;
		background-color: $disabled-background;
	}

	@include error {
		border-color: $error;
	}
}

.ui-textarea {
	padding-top: 1.5rem;
	padding-bottom: 1.5rem;
	height: auto;
	resize: none;

	@include media-min(1025) {
		scrollbar-width: thin;
		scrollbar-color: rgba($black, 0.3);

		&::-webkit-scrollbar {
            width: 1rem;
            cursor: pointer;
		}

		&::-webkit-scrollbar-thumb {
			border-left: 0.4rem solid $white;
			border-right: 0.4rem solid $white;
			background: rgba($black, 0.3);
			transition: $duration background;
		}

		&::-webkit-scrollbar-track {
		  margin: 0.5rem 0;
		  background: transparent;
		}
	}
}
