/* ------- UI - Input ------- */
input {
	&::-ms-clear {
		display: none;
	}
}

.ui-input,
.ui-textarea {
	appearance: none;
	display: block;
	box-shadow: none;
	border: 1px solid var(--color-border, #ddd);
	border-radius: 0;
	outline: none;
	padding: 0 1.5rem;
	width: 100%;
	height: var(--input-height, 4rem);
	font-family: var(--font-family);
	font-size: var(--text-size, 1.6rem);
	text-align: left;
	color: var(--color-base, #000);
	background: var(--color-white, #fff);
	transition: var(--duration, 0.3s) background-color, var(--duration, 0.3s) color, var(--duration, 0.3s) border-color, var(--duration, 0.3s) box-shadow;

	&::placeholder {
	  color: var(--color-placeholder, #999);
	  transition: var(--duration, 0.3s) color;
	}

	&:focus {
		border-color: var(--color-base, #000);
	}

	@include disabled {
		color: rgba(var(--color-white-rgb, #{255, 255, 255}), 0.5);
		background-color: var(--color-disabled, #999);
	}

	@include error {
		border-color: var(--color-error);
	}
}

.ui-textarea {
	padding-top: 1.5rem;
	padding-bottom: 1.5rem;
	height: auto;
	resize: none;

	@include media-min(1025) {
		scrollbar-width: thin;
		scrollbar-color: rgba(var(--color-black-rgb, #{0, 0, 0}), 0.3);

		&::-webkit-scrollbar {
            width: 1rem;
            cursor: pointer;
		}

		&::-webkit-scrollbar-thumb {
			border-left: 0.4rem solid var(--color-white, #fff);
			border-right: 0.4rem solid var(--color-white, #fff);
			background: rgba(var(--color-black-rgb, #{0, 0, 0}), 0.3);
			transition: var(--duration, 0.3s) background;
		}

		&::-webkit-scrollbar-track {
		  margin: 0.5rem 0;
		  background: transparent;
		}
	}
}
