/* ------- sticky -------- */
.sticky {
    height: 100%;

    &__container {
        position: relative;
        height: 100%;
        display: flex;
        align-items: flex-start;
    }

    &__block {
        width: 100%;

        &.is-fixed {
            @include media-min(tab) {
                position: fixed;
                top: var(--sticky-fixed-top, auto);
                bottom: var(--sticky-fixed-bottom, auto);
            }
        }

        &.is-bottom {
            @include media-min(tab) {
                position: relative;
                top: auto;
                margin-top: auto;
            }
        }
    }
}
