/* ------------ Tippy ------------ */
/*	https://github.com/atomiks/tippyjs */
/* -------------------------------- */

@import 'tippy.js/dist/tippy';
@import 'tippy.js/animations/shift-toward';

.tippy-tooltip {
	font-size: var(--text-size);
	background-color: $black;
}

.tippy-content {
	padding: 1rem 2rem;
}

.tippy-arrow {
	color: $black;
}
