/* ------- Modal -------- */
.modal {
	position: fixed;
	left: 0;
	top: 0;
	z-index: 200;
	display: none;
	width: 100%;
	height: calc(var(--vh, 1%) * 100);
	overflow: hidden;
    overflow-y: auto;
	opacity: 0;
	background: var(--color-backgrop, rgba(0, 0, 0, 0.7));
	transition: var(--duration, 0.3s) opacity;

	&__close {
		position: absolute;
		top: 0;
		right: 0;
		z-index: 20;
		display: flex;
		justify-content: center;
		align-items: center;
		width: 4rem;
		height: 4rem;
		background: transparent;
        transition: var(--duration, 0.3s) color, var(--duration, 0.3s) background;

		&:hover,
		&:active {
            color: var(--color-accent, #0000cc);
		}
	}

	&__close-icon {
		display: block;
		width: 2rem;
		height: 2rem;
		fill: currentColor;
	}

	&__wrap {
		display: flex;
		flex-flow: column nowrap;
		align-items: center;
		justify-content: center;
		flex-shrink: 0;
		flex-grow: 0;
		margin: auto;
		padding: var(--gutters, 4rem);
		width: 100%;
		min-height: 100%;
	}

	&__window {
		position: relative;
		flex-shrink: 0;
		flex-grow: 0;
		padding: 5rem 4rem;
		width: 60rem;
		max-width: 100%;
		background: var(--color-white, #fff);

        &:focus-visible,
		&:focus {
			outline: none;
		}

		@include media(mob) {
			padding: 3rem;
		}
	}

	&__title {
		margin: 0 0 2rem;
		font-size: 2.4rem;
		font-weight: 700;
	}

	&.is-visible {
		display: block;
	}

	&.is-active {
		opacity: 1;
	}
}

.is-modal-active {
	overflow: hidden;
	touch-action: none;
    padding-right: var(--modal-scrollbar-compensate);
}
