/* ------- Dropdown ------- */
.ui-dropdown {
	position: relative;
	width: fit-content;
	max-width: 100%;

	&__button {
		position: relative;
		display: flex;
		align-items: center;
		border-radius: 1rem;
		max-width: 100%;
		text-align: left;
        cursor: pointer;
        user-select: none;
	}

	&__button-text {
		padding: 0.5rem 2rem 0.5rem 0;
		max-width: 100%;
		overflow: hidden;
		text-overflow: ellipsis;
		white-space: nowrap;
	}

	&__button-icon-box {
		position: absolute;
		top: 50%;
		right: 0;
		margin-top: -0.8rem;
        display: flex;
        justify-content: center;
        align-items: center;
        width: 1.6rem;
		height: 1.6rem;
	}

	&__button-icon {
		width: 1.6rem;
		height: 1.6rem;
        mask-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='24' height='24' viewBox='0 0 24 24' fill='none'%3E%3Cpath d='M6 9L12 15L18 9' stroke='%232C2C2D' stroke-width='2' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/svg%3E");
        mask-repeat: no-repeat;
        mask-size: 100%;
        background: currentColor;
		will-change: transform;
        transition: $duration transform;
	}

	&__popup {
		position: absolute;
		z-index: 50;
		margin-top: 0.5rem;
		padding: 1rem 0;
		box-shadow: 0 0 1rem rgba($black, 0.1);
		width: 24rem;
        max-width: 100vw;
		background: $white;
		opacity: 0;
		visibility: hidden;
		pointer-events: none;
		transition: $duration visibility, $duration opacity;
	}

    &__list {
        &:focus-visible,
        &:focus {
            outline: none;
        }
    }

	&__scroll {
        position: relative;
		overflow: auto;
		max-height: 4rem * 6;
        cursor: pointer;

		.simplebar-scrollbar {
			&::before {
				background: $accent;
			}
		}

        @include media-min(1025) {
            scrollbar-width: thin;
            scrollbar-color: rgba($black, 0.3);

            &::-webkit-scrollbar {
                width: 1rem;
                cursor: pointer;
            }

            &::-webkit-scrollbar-thumb {
                border-left: 0.4rem solid $white;
                border-right: 0.4rem solid $white;
                background: rgba($black, 0.3);
                transition: $duration background;
            }

            &::-webkit-scrollbar-track {
              margin: 0.5rem 0;
              background: transparent;
            }
        }
	}

    &__menu {
        // position: relative;
    }

	&__input {
		position: absolute;
		top: 0;
		left: 0;
		height: 100%;
		margin: 0;
		overflow: hidden;
		opacity: 0;
		background: none;
		pointer-events: none;
	}

	&__menu-link,
    &__list-option {
		display: block;
		padding: 1rem 2rem;
		width: 100%;
		font-size: var(--text-size);
		line-height: 1.4;
		text-decoration: none;
		text-align: left;
		transition: $duration color, $duration background;
		cursor: pointer;
		user-select: none;

        &.is-selected {
			background: rgba($black, 0.1);
		}

		&.is-focused,
        &:focus-visible {
            outline: none;
            color: $white;
			background: $accent;
		}
	}

    &__menu-link {
        @include hover {
            color: $white;
			background: $accent;
        }
    }

	@include active {
		.ui-dropdown {
			&__button-icon {
				transform: rotate(180deg);
			}

			&__popup {
				opacity: 1;
				visibility: visible;
				pointer-events: auto;
			}
		}
	}
}
