/* ------- Field Box ------- */
.field-box {
	position: relative;

	&__label {
		position: absolute;
        left: 2rem;
        top: 1.7rem;
		max-width: calc(100% - 4rem);
        font-weight: 400;
        color: var(--color-placeholder, rgba(46, 54, 62, 0.7));
		transform-origin: 0 0;
		transition: color var(--duration, 0.3s), transform var(--duration, 0.3s);
		pointer-events: none;
		will-change: transform;
	}

	&__input {
        width: 100%;
        padding-top: 2rem;

		&::placeholder {
			color: transparent;
		}

        &:focus {
            border-color: var(--color-accent, #9F7ADB);
        }

        &.is-error {
            border-color: var(--color-error, #f00);

        }
	}

    &__content {
        width: 100%;
    }

    &__textarea {
        padding-top: 1.5rem;
        padding-bottom: 1.5rem;
    }

    &_textarea {
        .field-box {
            &__label {
                background: var(--color-white, #fff);
            }
        }
    }

    &.is-hovered {
        .field-box {
            &__label {
	            color: var(--color-base, rgb(46, 54, 62));

            }
        }
    }

	&.is-filed,
	&.is-focused {
		.field-box__label {
			transform: translateY(-0.8rem) scale(0.75);
	        color: var(--color-placeholder, rgba(46, 54, 62, 0.7));
		}
	}
}
